In [3]:
f = open('US_births_1994-2003_CDC_NCHS.csv', 'r')
data = f.read()

In [38]:
split_data[:11]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910',
 '1994,1,10,1,10498']

In [16]:
def read_csv(file):
    f = open(file, 'r')
    data = f.read()
    string_list = data.split('\n')[1:len(data)]
    
    final_list = []
    
    for row in string_list:
        int_fields = []
        string_fields = row.split(',')
        for row in string_fields:
            int_fields.append(int(row))
            final_list.append(int_fields)
    return final_list
        
cdc_list = read_csv('US_births_1994-2003_CDC_NCHS.csv')

print(cdc_list[:11])

[[1994, 1, 1, 6, 8096], [1994, 1, 1, 6, 8096], [1994, 1, 1, 6, 8096], [1994, 1, 1, 6, 8096], [1994, 1, 1, 6, 8096], [1994, 1, 2, 7, 7772], [1994, 1, 2, 7, 7772], [1994, 1, 2, 7, 7772], [1994, 1, 2, 7, 7772], [1994, 1, 2, 7, 7772], [1994, 1, 3, 1, 10142]]

In [18]:
def month_births(list_of_lists):
    births_per_month = {}
    
    for col in list_of_lists:
        month = col[1]
        births = col[-1]
        
        if month in births_per_month:
            births_per_month[month] = births_per_month[month] + births
        else:
            births_per_month[month] = births
    
    return births_per_month

cdc_birth_months = month_births(cdc_list)
print(cdc_birth_months)

{1: 16162585, 2: 15090700, 3: 16610345, 4: 15926570, 5: 16754535, 6: 16482650, 7: 17493915, 8: 17629290, 9: 17198490, 10: 16894070, 11: 15858235, 12: 16509300}

In [19]:
def dow_births(list_of_lists):
    births_per_dow = {}
    
    for col in list_of_lists:
        dow = col[3]
        births = col[-1]
        
        if dow in births_per_dow:
            births_per_dow[dow] = births_per_dow[dow] + births
        else:
            births_per_dow[dow] = births
    
    return births_per_dow

cdc_day_births = dow_births(cdc_list)
print(cdc_day_births)

{1: 28945830, 2: 32230980, 3: 31614275, 4: 31442145, 5: 31168285, 6: 22810555, 7: 20398615}

In [46]:
def calc_counts(data, column):
    result = {}
    
    for elt in data:
        births = elt[-1]
        col = elt[column]
        if col in data:
            result[col] = result[col] + births
        else:
            result[col] = births
    return result

cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [47]:
print(cdc_dow_births)

{1: 12823, 2: 14438, 3: 12374, 4: 6628, 5: 10218, 6: 8646, 7: 7645}

In [48]:
cdc_dom_births

{1: 11973,
 2: 13122,
 3: 12884,
 4: 12372,
 5: 11901,
 6: 8132,
 7: 7241,
 8: 11496,
 9: 12699,
 10: 12470,
 11: 12242,
 12: 12237,
 13: 8150,
 14: 7337,
 15: 12064,
 16: 13350,
 17: 13106,
 18: 13594,
 19: 13434,
 20: 8795,
 21: 7547,
 22: 12967,
 23: 12598,
 24: 9096,
 25: 6628,
 26: 10218,
 27: 8646,
 28: 7645,
 29: 12823,
 30: 14438,
 31: 12374}

In [49]:
cdc_year_births

{1994: 8809,
 1995: 7596,
 1996: 11924,
 1997: 11818,
 1998: 11389,
 1999: 9335,
 2000: 7721,
 2001: 10018,
 2002: 12339,
 2003: 12374}